[submodule "flutter_calendar_view"]
	path = flutter_calendar_view
	url = git@github.com:jenspfahl/flutter_calendar_view.git
[submodule "flutter_treeview"]
	path = flutter_treeview
	url = git@github.com:jenspfahl/flutter_treeview.git
